{{{ define "exchange_rate.html" }}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Exchange Rate</title>
        <link rel="stylesheet" href="/static/bootstrap.css" />
        <link rel="stylesheet" href="/static/common.css" />
        <link rel="stylesheet" href="/static/exchange_rate/exchange_rate.css" />
        <script src="/static/jquery.js"></script>
        <script src="/static/vue.js"></script>
        <script src="/static/common.js"></script>
    </head>

    <body>
        <div id="exrate-app" class="container box margin-t-100">
            <h4 class="mb-5">
                <ol class="breadcrumb bold">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </h4>

            <div class="row">
                <label class="col-3 form-label bold">Amount</label>
                <label class="col-4 form-label bold">From</label>
                <label class="col-4 form-label bold">To</label>
            </div>
            <div class="row">
                <div class="col-3">
                    <input type="text" v-model="amount" class="form-control" autocomplete="off" />
                </div>
                <div class="col-4">
                    <select class="form-select" v-model="fromCode">
                        <option :key="'from_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" v-model="toCode">
                        <option :key="'to_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                    </select>
                </div>
                <div class="col-1">
                    <button type="button"class="btn btn-primary" @click="convertClick">Convert</button>
                </div>
            </div>

            <div v-if="convert.active" :class="convert.success ? 'mt-4 alert alert-success' : 'mt-4 alert alert-danger'">{{ convert.msg }}</div>

            <div class="row mt-5">
                <label class="col-12 form-label bold">Exchange rate data</label>
            </div>

            <div class="row">
                <div class="col-4">
                    <select class="form-select" v-model="dataCode">
                        <option :key="'data_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" @click="updateRateDataClick">Update data</button>
                </div>
                <div class="col-4">
                    <div v-if="update.active" :class="update.success ? 'alert alert-success' : 'alert alert-danger'">{{ update.msg }}</div>
                </div>
            </div>

            <div class="mt-3">Convert the exchange rate directly if the currency code exists.</div>
            <div class="mt-1">If the currency code does not exist, convert to USD first, then to the target currency.</div>
            
            <div class="mt-3">
                <span class="exrate-rate-data badge bg-secondary" :key="item.code + `_` + item.data_string" v-for="(item, index) in rateData">
                    <span v-if="item.code === `USD`">{{ item.code + `_` + item.data_string }}</span>
                    <span v-else>
                        {{ item.code + `_` + item.data_string }} <span class="exrate-rate-data-del" @click="deleteRateDataClick(item.code)">×</span>
                    </span>
                </span>
            </div>
        </div>

        <script src="/static/exchange_rate/exchange_rate.js"></script>
    </body>
</html>
{{{ end }}}