{{{ define "exchange_rate.html" }}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Exchange Rate</title>
        <link rel="stylesheet" href="/static/common.css" />
        <link rel="stylesheet" href="/static/exchange_rate/exchange_rate.css" />
        <script src="/static/jquery.js"></script>
        <script src="/static/vue.js"></script>
        <script src="/static/common.js"></script>
    </head>

    <body>
        <div id="exrate-app" class="exrate">
            <div class="exrate-title">{{ title }}</div>
            <table class="exrate-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>From</th>
                        <th>To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" v-model="amount" class="text-right" autocomplete="off" /></td>
                        <td>
                            <select v-model="fromCode">
                                <option :key="'from_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                            </select>
                        </td>
                        <td>
                            <select v-model="toCode">
                                <option :key="'to_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                            </select>
                        </td>
                        <td><button type="button"class="btn-blue margin-lr-10" @click="convertClick">Convert</button></td>
                    </tr>
                </tbody>
            </table>

            <div v-if="convert.active" :class="convert.success ? 'exrate-convert-result msg msg-green' : 'exrate-convert-result msg msg-red'">{{ convert.msg }}</div>

            <div class="exrate-rate">
                <div class="exrate-rate-title">Exchange rate data</div>

                <select v-model="dataCode">
                    <option :key="'data_' + item.code + index" :value="item.code" v-for="(item, index) in codes">{{ item.code + ` - ` + item.name}}</option>
                </select>
                <button type="button" class="btn-blue margin-lr-10" @click="updateRateDataClick">Update data</button>
                <span v-if="update.active" :class="update.success ? 'msg msg-green' : 'msg msg-red'">{{ update.msg }}</span>

                <div class="exrate-rate-desc">
                    <div class="exrate-rate-desc-content">Convert the exchange rate directly if the currency code exists.</div>
                    <div class="exrate-rate-desc-content">If the currency code does not exist, convert to USD first, then to the target currency.</div>
                </div>

                <div class="exrate-rate-data">
                    <span class="msg-blue exrate-rate-data-item" :key="item.code + `_` + item.data_string" v-for="(item, index) in rateData">
                        <span v-if="item.code === `USD`">{{ item.code + `_` + item.data_string }}</span>
                        <span v-else>
                            {{ item.code + `_` + item.data_string }} <span class="exrate-rate-data-delete" @click="deleteRateDataClick(item.code)">×</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <script src="/static/exchange_rate/exchange_rate.js"></script>
    </body>
</html>
{{{ end }}}