{{{ define "md5.html" }}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MD5</title>
        {{{ template "common" }}}
    </head>

    <body>
        {{{ template "menu" }}}
        <div id="md5-app" class="container box margin-t-100">
            <h4 class="mb-5">
                <ol class="breadcrumb bold">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">MD5</li>
                </ol>
            </h4>

            <div class="row">
                <label class="col-5 form-label bold">Source</label>
                <label class="col-2 form-label bold"></label>
                <label class="col-5 form-label bold">Result</label>
            </div>

            <div class="row">
                <div class="col-5">
                    <textarea rows="12" class="form-control resize-none" v-model="source"></textarea>
                </div>
                <div class="col-2 text-center">
                    <button type="button" class="btn btn-primary" @click="encrypteClick">Encrypte</button>
                </div>
                <div class="col-5">
                    <textarea rows="12" class="form-control resize-none" v-model="result"></textarea>
                </div>
            </div>
        </div>
        <script src="/static/md5/md5.js"></script>
    </body>
</html>
{{{ end }}}