{{{ define "bookmark_tag.html" }}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Exchange Rate</title>
        <link rel="stylesheet" href="/static/bootstrap.css" />
        <link rel="stylesheet" href="/static/common.css" />
        <script src="/static/jquery.js"></script>
        <script src="/static/vue.js"></script>
        <script src="/static/common.js"></script>
    </head>

    <body>
        <div id="bookmark-tag-app" class="container box margin-t-100">
            <div class="box-title">Bookmark Tag Manager</div>

            <div class="row" v-if="bookmarkTagsView">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" @click="toEditor(`Add`)">Add</button>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" v-model="queryForm.keyword" />
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary" @click="getBookmarkTags">Search</button>                
                </div>
            </div>

            <table class="table table-hover" v-if="bookmarkTagsView">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Sort</th>
                        <th class="text-center">Operate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="tag.tag + tagIndex" v-for="(tag, tagIndex) in bookmarkTags">
                        <td class="text-center">{{ tag.name }}</td>
                        <td class="text-center">{{ tag.sort }}</td>
                        <td class="text-center bmt-tab-operate">
                            <div class="row justify-content-md-center">
                                <div class="col-1">
                                    <button type="button" class="btn btn-primary btn-sm" @click="toEditor(`Update`, tag.rowid)">Editor</button>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-danger btn-sm" @click="toEditor(`Delete`, tag.rowid)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form v-if="bookmarkTagEditView">
                <div class="mb-4 row">
                    <label class="col-2 col-form-label text-right">ID</label>
                    <div class="col-3">
                        <input type="text" class="form-control text-center" v-model="form.rowid" disabled="disabled" />
                    </div>
                </div>
                <div class="mb-4 row">
                    <label class="col-2 col-form-label text-right">Name</label>
                    <div class="col-3">
                        <input type="text" class="form-control" v-model="form.name" :disabled="formDisabled" />
                    </div>
                </div>
                <div class="mb-4 row">
                    <label class="col-2 col-form-label text-right">Description</label>
                    <div class="col-6">
                        <textarea rows="8" class="form-control resize-none" v-model="form.description" :disabled="formDisabled"></textarea>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label class="col-2 col-form-label text-right">Sort</label>
                    <div class="col-3">
                        <input type="text" class="form-control text-center" v-model="form.sort" :disabled="formDisabled" @change="sortChange" />
                    </div>
                </div>
                <div class="mt-5 row justify-content-md-center" v-if="!formOperating">
                    <div class="col-1">
                        <button type="button" class="btn btn-primary" @click="formSubmit">{{ formOperate }}</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-secondary" @click="formReset">Cancel</button>
                    </div>
                </div>
                <div class="mt-4 row justify-content-md-center" v-if="formResult.active">
                    <div class="col-8">
                        <div :class="formResult.success ? 'alert alert-success' : 'alert alert-danger'">{{ formResult.msg }}</div>
                    </div>
                </div>
            </form>
        </div>

        <script src="/static/bookmark_tag/bookmark_tag.js"></script>
    </body>
</html>
{{{ end }}}