.bookmark_tag {
    margin: 50px auto 0 auto;
    padding: 20px;
    width: 1366px;
    border-radius: 3px;
    background-color: ghostwhite;
}

.bmt-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #454545;
    font-size: 22px;
    font-weight: bold;
}

.bmt-top-operate {
    margin-top: 20px;
}

.bmt-list {
    margin-top: 50px;
    width: 100%;
}

.bmt-edit {
    margin-top: 50px;
    margin-left: 250px;
    
}
.bmt-edit-label {
    padding: 20px 50px 20px 60px;
    font-size: 20px;
    font-weight: bold;
}
.bmt-edit-input {
    padding: 20px 0;
}
.bmt-edit-operate {
    padding: 20px 0;
}
.bmt-edit-operate button {
    margin: 10px 0 0 120px; 
}
.bmt-edit-description {
    resize: none;
}