{{{ define "menu" }}}
<div class="dropdown dropstart position-absolute top-0 end-0">
    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="menu" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="menu">
        <li><a href="/" class="dropdown-item">Home</a></li>
        <li><a href="/bookmark" class="dropdown-item">Bookmark Manager</a></li>
        <li><a href="/bookmark/tag" class="dropdown-item">Bookmark Tag Manager</a></li>
        <li><a href="/exrate" class="dropdown-item">Exchange Rate</a></li>
        <li><a href="/md5" class="dropdown-item">MD5</a></li>
        <li><a href="/base64" class="dropdown-item">Base64</a></li>
        <li><a href="/aes" class="dropdown-item">Aes</a></li>
        <li><a href="/rsa" class="dropdown-item">Rsa</a></li>
        <li><a href="/timestamp" class="dropdown-item">Timestamp</a></li>
    </ul>
</div>
{{{ end }}}