body {
    background-image: url("../static/th.jpg");
}

.hide {
    display: none;
}

.margin-t-100 {
    margin-top: 100px;
}

.resize-none {
    resize: none;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}



.box {
    padding: 20px;
    border-radius: 8px;
    background-color: ghostwhite;
}