.bm-tag {
    margin-right: 25px;
}

.bm-item {
    margin: 0 25px 20px 0;
}

.bm-item a, .bm-item a:visited {
    color: ghostwhite;
    text-decoration: none;
}
.bm-item a:hover {
    color: ghostwhite;
    text-decoration: underline;
}

.bm-item-operate {
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
}